@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    background-color: #1f1919;
    margin: 0;
    padding: 0;
    height: 100%;

}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.collapse {
    display: block !important;
}

.nav_basic {
    background-color: black;
    color: white;
    width: 100%;
    top: 0;
    position: absolute;
}

.nav_basic .mobile {
    display: none;
}

.nav_basic .mobile .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.nav_basic .mobile .links {
    display: none;
}

.nav_basic .mobile .header .more button {
    border: none;
    background-color: black;
    color: white;
    padding: 15px;
    cursor: pointer;
}

.nav_basic .logo {
    min-width: 250px;
    /*Al menos esa capa va a medir 250px*/
}

.nav_basic a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
}

.nav_basic a:hover {
    color: black;
    background-color: #00c3ff;
}

.nav_basic .desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* pad: 0 20px; */
}

.nav_basic .desktop .logo {
    padding: 15px;
}


.nav_basic .desktop .primary,
.nav_basic .desktop .secondary {
    display: flex;
}

.nav_basic .desktop .secondary.mini {
    display: none;
}

@media screen and (max-width: 960px) {
    .nav_basic .logo {
        min-width: 100px;
    }

    .nav_basic .secondary.full {
        display: none;
    }

    .nav_basic .secondary.mini {
        display: block !important;
    }

    .nav_basic .secondary.mini .submenu {
        background-color: black;
        display: none;
        position: absolute;
        width: 200px;
        right: 0;
    }

    .nav_basic .secondary.mini:hover .submenu {
        display: block;
    }

}

@media screen and (max-width: 511px) {
    .nav_basic .desktop {
        display: none;
    }

    .nav_basic .mobile {
        display: block;
    }
}







.navPri {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background: #1f1919;
    border-top: 1px solid #654343;
    width: 100%;
    height: 75px;
    bottom: 0;

}

.navPri .ul_desktop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

.navPri .ul_desktop li {
    margin: 10px;
    list-style: none;
    color: #e8c382;
}

.navPri .ul_desktop li a {
    text-decoration: none;
    color: #e8c382;

}

.leyli {
    animation: rotate-vert-center 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
    width: 50px;
    filter: drop-shadow(0 0 0.1rem #e8c382);

}

.navPri .boot {
    display: none;
    border: none;
    background-color: #1f1919;
    color: #e8c382;
    width: 130px;
    padding: 15px;
    cursor: pointer;
}

.subi {
    display: none !important;
}

.navPri .subdiv {
    display: none;
    border-top: 1px solid #654343;
    width: 100%;
    flex-direction: column;
    position: absolute;
    bottom: 75px;
}

.navPri .subdiv a {
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #1f1919;

    text-decoration: none;
    color: #e8c382;
}

.navPri .subdiv a:hover {
    background-color: #312120;


}




@keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@media screen and (max-width: 330px) {
    .navPri .ul_desktop {
        display: none;
    }

    .navPri .boot {
        display: block;
        width: 100%;
    }

    .navPri .boot .ñamñamñam {
        animation: shake-ll 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

    }

    .navPri .boot .ñamñamñam.activado {
        animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }

    .subi {
        display: flex !important;
    }


    @keyframes shake-lr {

        0%,
        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }

        10% {
            -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
        }

        20%,
        40%,
        60% {
            -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
        }

        30%,
        50%,
        70% {
            -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
        }

        80% {
            -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
        }

        90% {
            -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
        }
    }

    @keyframes shake-ll {

        0%,
        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }

        10% {
            -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
        }

        20%,
        40%,
        60% {
            -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
        }

        30%,
        50%,
        70% {
            -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
        }

        80% {
            -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
        }

        90% {
            -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
        }
    }

}



.contenedor_de_zoruas {
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    display: none;
    align-items: center;
    justify-content: center;
}

.contenedor_de_zoruas .leyli_coqueta {
    z-index: 2000;
    width: 500px;
    animation: slide-in-right 50s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: absolute;

}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(2500px);
        transform: translateX(800px);
        /* opacity: 0; */
    }

    100% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        /* opacity: 1; */
    }
}

.stop_circle{
    top: 250px;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #e8c382;
}